p{font-size: 100px; margin-left: 10%;}
body{ color: purple }
.drugi{font-size: 20px;}
#trzeci{font-size: 50px;color: blueviolet;}
a:link{font-size:12px; color:red}
a:vistied{font-size:12px; color:rgb(33, 24, 161)}
a:hover{font-size: 30px;color:seagreen}